/* Footer Styling */
.footer {
    background-color: #0c2d6b;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
  justify-content: space-evenly;
  max-width: 2000px;
  margin: auto;
  padding: 0 20px;
  }
  
  .footer-section {
    display: flex;
    margin: 10px;
    min-width: 300px;
    text-align: justify;
    gap: 10rem;
  }

  .footer-section .about,
  .footer-section .links,
  .footer-section .contact {
      max-width: 400px;
  }  
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #fdb927;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  .footer-section p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 8px 0;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    transition: 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #fdb927;
  }
  
  .footer-bottom {
    background-color: #082156;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  @media (max-width: 1024px) {
    .footer-section {
      display: flex;
      margin: 10px;
      min-width: 300px;
      text-align: center;
      gap: 6rem;
    }
  }