.facilities-container {
    min-height: 100vh;
    background-color: rgb(245, 244, 244);
    padding: 40px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .facilities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
  .facility-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
  }
  
  .facility-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .facility-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .facility-description {
    color: #555;
  }
  

  
  
  /* Facility Details Section */
  .facilities-details {
    margin-top: 50px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .facility-detail {
    margin-bottom: 30px;
    padding: 20px;
  }
  
  .facility-detail h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .pricing-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  .pricing-table th, .pricing-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .pricing-table th {
    background-color: #0c2d6b;
    color: white;
  }
  